<!doctype html>
<head>
   <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/ec11340ae8.js" crossorigin="anonymous"></script>
    </head>
    <body>   
    <div class="container">
        <i class='fas fa-key' style='font-size:200px; margin: 200px 0px 0px 0px;'></i>
        <h1> Secret</h1>
        <h4>Don't keep your Secrets .Share Them Anonymously</h4>
        <div class="sect">
            <div>
            <form action="/register" method="get">
              <button type="submit">Register</button>
            </form>
            </div>
           <div>
            <form action="/login" method="get">
              <button type="submit">Login</button>
             </form>
           </div>  
        </div>
    </div>
    </body>
</html>
