<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mysecret.css">
</head>
<script src="https://kit.fontawesome.com/ec11340ae8.js" crossorigin="anonymous"></script>
<body>
   
    
    <div class="navbar">
      <div>
        <i class='fas fa-key' style='font-size:50px;'></i>
      </div>
      <div class="CommonSecretBtn">
        <form action="/secret" method="get">
         <button class="link1 btn" type="submit">See All Secrets</button>
        </form>
      </div>  
        <div class="shareMoreBtn">
          <form action="/secretdata" method="get">
           <button class="link1 btn" type="submit">Share More Secret</button>
          </form>
        </div>  
        <div class="logOutBtn">
          <form action="/logout" method="get">
           <button class="link2 btn" type="submit">Logout</button>
          </form>
        </div>
    </div>

    <h1 class="heading">Your Secrets</h1>


     <div class="movements">

       <% secrets.forEach((item) =>{ %>
        <div class="movements__row">
          <div class="movements__date"><%= item.secrett %></div>
          <div class="movements__value">
            <div>
            <form action="/edit" method="GET">
              <input type="hidden" name="editId" value="<%=item._id%>">
              <button type="submit" class="Btn">Edit</button>
            </form>
            </div>
            <div>
            <form action="/delete" method="GET">
              <input type="hidden" name="secretId" value="<%=item._id%>">
              <button type="submit" class="Btn">Delete</button>
            </form>
            </div>
            
          </div>
        </div>
        <% }); %>

      </div>


  
    
     
</body>
</html>