<!doctype html>
<head>
    <script src="https://kit.fontawesome.com/ec11340ae8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/secretdata.css">
    <body>
        <% if (success.length > 0){ %>
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong><%= success[0]%></strong> 
              </div>
        <% } %>    
    
        <% if (error.length > 0){ %>        
            <div class="alert-error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong><%= error[0]%></strong> 
              </div>
        <% } %> 
        
         <div class="navbar">
            <div>
              <i class='fas fa-key' style='font-size:50px;'></i>
             </div>
             <div class="CommonSecretBtn">
                <form action="/secret" method="GET">
                    <button class="link2">See All Secrets</button>
                </form>
             </div>

             <div class="OwnSecretBtn">
              <form action="/mysecret" method="GET">
                  <button class="link2">See! What you have Shared</button>
              </form>
             </div>
  
             <div class="logOutBtn">
              <form action="/logout" method="GET">
                  <button class="link3">Logout</button>
              </form>
             </div>
        </div>


        <div class="container">
        <i class='fas fa-key' style='font-size:200px; margin: 200px 0px 0px 0px;'></i>
        <h1>Don't keep your secrets, share them anonymously!</h1>
        <form action="/secret" method="post">
            <input type="text" placeholder="Enter Your Secret "  class="form-control text-center" name="secret" autofocus><br>
            <input type="text" placeholder="Country Name"  class="form-control text-center" name="location" autofocus><br>
            <button type="submit" style="margin-top: 10px;">Submit Secret</button>
        </form>
        </div>

    </body>

</head>
</html>


