<!doctype html>
<head>
    
    <script src="https://kit.fontawesome.com/ec11340ae8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/secret.css">
    <body>

        <div class="navbar">
          <div>
            <i class='fas fa-key' style='font-size:50px;'></i>
           </div>

           <div class="OwnSecretBtn">
            <form action="/mysecret" method="GET">
                <button class="link2">See! What you have Shared</button>
            </form>
           </div>

           <div class="logOutBtn">
            <form action="/logout" method="GET">
                <button class="link3">Logout</button>
            </form>
           </div>

        </div>

      <div class="container">
        <h1 class="heading">You've Discovered Everyone Secret</h1>
       </div>  
       <div class="main">
        <div >
            <form action="/secretdata" method="GET">
                <button class="link1 ">Share your Secret</button>
            </form>
        </div>
       </div>

<div class="movements">
  <% data.forEach((item) =>{ %>
     <div class="movements__row">
      <div class="movements__date"><%= item.secrett %></div>
      <div class="movements__value">Posted From <%= item.location %></div>
      </div>
    <% }); %>
</div>
        

  
   



</body>
</head>
</html>








