.alert-success
{
     padding: 20px;
     background-color: #41d41c;
     color: white;
}

.alert-error {
     padding: 20px;
     background-color: #f44336;
     color: white;
   }

.alert-warning {
     padding: 20px;
     background-color:#ff9800;
     color: white;
} 

.closebtn {
   margin-left: 15px;
   color: white;
   font-weight: bold;
   float: right;
   font-size: 22px;
   line-height: 20px;
   cursor: pointer;
   transition: 0.3s;
    }

 .closebtn:hover {
     color: black;
   }
.container{
    width: 400px;
    height: 350px;
    border:5px solid black;
    margin-left:400px;
    padding: 30px 20px 0px 20px;
}
button{
    margin-left: 100px;
    padding: 20px;
}
input[type="text"]
{
    font-weight: bold;
}
