
.btn
{
background-color:black;
color: white;
width:200px;
height:50px;
}

.movements {
grid-row: 2 / span 3;
background-color: #fff;
border-radius: 1rem;
overflow: scroll;
width: 900px;
padding-left: 250px;
}

.movements__row {
padding: 2.25rem 2rem;
display: flex;
align-items: center;
border-bottom: 1px solid #eee;
}

.movements__date {
font-size: 1.1rem;
text-transform: uppercase;
font-weight: 500;
color: #666;
width: 1200px;
}

.movements__value 
{
font-size: 0.8rem;
margin-left: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 800px;
}
.Btn
{
border:10px solid black;
background-color: black;
color: white;
padding: 6px 40px;
}

.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.CommonSecretBtn{
margin-left: 700px;
}

.link1{
background-color: white;
color: black;
}

.link1:hover
{
background-color:black;
color: white;
}
.link2
{
background-color:black;
color: white;
}
.link2:hover
{
background-color: white;
color: black;
}
.heading
{
font-size:50px;
padding-left:500px;
}